%br
%p
  %h3 recebimentos excluidos
%table
  %tr
    %th Data da exclusão
    %th Valor
    %th Forma
    %th{ :width => "200" } Observação
    %th Usuário
    %th Dados do cheque
  - paciente.recebimentos_excluidos.each do |rec|
    %tr
      %td= rec.data_de_exclusao.to_s_br
      %td{ :align => 'right'}= rec.valor.real
      %td= rec.formas_recebimento.nome
      %td= rec.observacao_exclusao
      - if rec.usuario_exclusao
        - user = User.find(rec.usuario_exclusao)
      %td= user && user.nome
      %td
        = rec.cheque.observacao if rec.cheque.present?
