<% content_for :main do %>
<fieldset class="fieldset_40">
<legend>Editando recebimento</legend>
<% form_for(@recebimento) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :paciente_id %>
  <%= f.hidden_field :clinica_id %>
  <table class='transparente'>
    <tr>
      <td align='right'><%= f.label :paciente %> :</td>
      <td><%= @paciente.nome %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :data %></td>
      <td><%= f.text_field :data_pt_br, :class=> :datepicker, :size=>10 %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :forma_recebimento_id %> :</td>
      <td><%= f.select :formas_recebimento_id, @formas_recebimentos, {}, html_options={  :onchange=>"selecionou_forma('recebimento_formas_recebimento_id');"} %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :valor %> :</td>
      <td><%= f.text_field :valor_real, :size=>10, :onblur=>"copia_valor();"  %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :observação %> :</td>
      <td><%= f.text_field :observacao %></td>
    </tr>
    <% if @recebimento.paciente.de_ortodontia? %>
      <tr>
        <td align='right'><%= f.label :percentual_do_dentista %> :</td>
        <td><%= f.text_field :percentual_dentista, :size=>6 %> %</td>
      </tr>
    <% end %>
    <!-- <tr>
        <td>Observação cheque: </td>
        <td><%= @recebimento.observacao_recebimento %></td>
      </tr> -->
  </table>

  <div id="cheque" style="display:yes;">
    <fieldset class='fieldset_35'>
    <legend> dados do cheque</legend>
  
  <table class='transparente'>
    <tr>
      <td align='right'><%= label_tag :banco %> : </td>
      <td>
        <%= select_tag :banco, options_for_select(@bancos.insert(0, ''), @recebimento.cheque.banco_id) %>
      </td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :agencia %> :</td>
      <td>   <%= text_field_tag :agencia, (@cheque.nil? ? '' : @cheque.agencia), :size=>8 %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :número %> : </td>
      <td><%= text_field_tag :numero, (@cheque.nil? ? '':  @cheque.numero),:size=>7 %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :valor_do_cheque %> : </td>
      <td><%= text_field_tag :valor_cheque, (@cheque.nil? ? '' : @cheque.valor.real), :size=>8%></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :bom_para %> : </td>
      <td><%= text_field_tag :bom_para_br, @cheque.bom_para_br , :size=>10, :class => 'datepicker' %></td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :segundo_paciente %> : </td>
      <td><%= text_field_tag :segundo_paciente,@cheque.nil? ? '' : @cheque.recebimentos[1] && @cheque.recebimentos[1].paciente.nome, :size=>30 %>
        <%= hidden_field_tag :id_segundo_paciente , @cheque.nil? ? '' : @cheque.recebimentos[1] && @cheque.recebimentos[1].paciente.id %> 
        <%= link_to "pesquisar", "#" , :onclick=>"busca_pacientes_que_iniciam_com('segundo_paciente')"%>
      </td>
    </tr>
    <tr id='linha_segundo_paciente' style='display:none;'>
      <td>&nbsp;</td>
      <td>
        
        <div id="nomes_segundo_paciente" class='lista'>
          
        </div>
      </td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :valor %> : </td>
      <td><%= text_field_tag :valor_paciente_2 , @cheque.nil? ? '': @cheque.recebimentos[1].valor.real, :size=>10 %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :observação %> : </td>
      <td><%= text_field_tag :observacao_paciente_2 , @cheque.nil? ? '': @cheque.recebimentos[1] && @cheque.recebimentos[1].observacao, :size=>30 %></td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :terceiro_paciente %> : </td>
      <td><%= text_field_tag :terceiro_paciente,@cheque.nil? ? '': @cheque.recebimentos[2] && @cheque.recebimentos[2].paciente.nome, :size=>30 %>
        <%= hidden_field_tag :id_terceiro_paciente , @cheque.nil? ? '': @cheque.recebimentos[2] && @cheque.recebimentos[2].paciente.id %>
        <%= link_to "pesquisar", "#" , :onclick=>"busca_pacientes_que_iniciam_com('terceiro_paciente')"%></td>
    </tr>
     <tr id='linha_terceiro_paciente' style='display:none;'>
        <td>&nbsp;</td>
        <td>
          <div id="nomes_terceiro_paciente" class='lista'>
            
          </div>
        </td>
      </tr>
    <tr>
      <td align='right'><%= label_tag :valor %> : </td>
      <td><%= text_field_tag :valor_paciente_3 , @cheque.nil? ? '': @cheque.recebimentos[2].valor.real, :size=>10 %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :observação %> : </td>
      <td><%= text_field_tag :observacao_paciente_3 , @cheque.nil? ? '': @cheque.recebimentos[2] && @cheque.recebimentos[2].observacao, :size=>30 %></td>
    </tr>
  </table>
 
  </fieldset>
  </div>
  <p>
    <%= f.submit 'salvar' if current_user.secretaria? %>
  </p>
<% end %>

<%= link_to 'voltar', :back %>
</fieldset>
<% end %>