<% content_for :main do %>
<h3>Listando bancos</h3>

<table class='tabela'>
  <tr>
    <th>Número</th>
    <th>Nome</th>
    <th></th>
    <th></th>
  </tr>

<% @bancos.each do |banco| %>
  <tr>
    <td><%=h banco.numero %></td>
    <td><%=h banco.nome %></td>
    <td><%= link_to 'alterar', edit_banco_path(banco) %></td>
    <td><%= link_to 'exluir', banco, :confirm => 'Tem certeza ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo banco', new_banco_path %>
<% end %>