<table class='tabela'>
  <tr>
    <th width='30px'>Núm.</th>
    <th>Data</th>
    <th width='100px'>Dentista</th>
    <th width='60px'>Valor</th>
    <th>Desconto</th>
    <th width='60px'>Valor c/ desconto</th>
    <th>N. parcelas</th>
    <th width='60px'>Valor parcela</th>
    <th>Vencto 1a parcela</th>
    <th>Forma pgto</th>
    <th>Estado</th>
    <th>&nbsp;</th>
    <% @paciente.orcamentos.each do |orca| %>
      <tr>
        <td align='center'><%= link_to orca.numero, edit_orcamento_path(orca) %></td>
        <td><%= orca.data.to_s_br %></td>
        <td><%= link_to orca.dentista.nome, abre_dentista_path(orca.dentista) unless orca.dentista.nil?%></td>
        <td align='right'><%= orca.valor.real %></td>
        <td align='right'><%= orca.desconto %></td>
        <td align='right'><%= orca.valor_com_desconto.real %></td>
        <td align='right'><%= orca.numero_de_parcelas %></td>
        <td align='right'><%= orca.valor_da_parcela.real %></td>
        <td align='center'><%= orca.vencimento_primeira_parcela.to_s_br %></td>
        <td><%= orca.forma_de_pagamento %></td>
        <td><%= orca.estado %></td>
        <td><%= link_to "Imprime", imprime_orcamento_path(orca) %>
        </td>
      </tr>
    <% end %>
</table>