= javascript_include_tag 'jsDraw2D.js','odontograma.js'

= link_to "Novo procedimento" , new_tratamento_path(:paciente_id=>@paciente.id) 
|
= link_to "Odontograma", '#', :onclick=>'desenha_odontograma();'
%br
%br
#canvas{:style=> 'display :none;'}
%table{:class=>'tabela'}
  %tr
    %th
      %br
      Dente
    %th
      %br
      Face
    %th{ :width => "40px" }
      %br
      Código
    %th{ :width => "190px" }
      %br
      Descrição
    %th{ :width => "50px" }
      %br
      Valor
    %th{ :width => "20px" }
      Desc.
      %br
      (%)
    %th{ :width => "50px" }
      Valor 
      %br
      final
    %th{ :width => "50px" }
      %br
      Custo
    %th{ :width => "80px" }
      %br
      Dentista
    %th
      Data de
      %br
      realização
    %th
      %br
      Orç.
    %th
      Trabalho<br/>
      Protético
    %th
    %th
    - if current_user.master?
      %th
        &nbsp;
  - total = 0.0
  - total_com_desconto = 0.0
  - @paciente.tratamentos.each() do |tratamento|
    %tr{:style=>'height: 40px;'}
      %td{ :align => "center" }= tratamento.dente
      %td= tratamento.faces
      %td= tratamento.item_tabela.codigo  unless tratamento.item_tabela.nil?
      %td= tratamento.descricao
      %td{ :align => "right" }= tratamento.valor.real
      %td{ :align => "right" }= tratamento.desconto
      %td{ :align => "right" }= tratamento.valor_com_desconto.real
      %td{ :align => "right" }= tratamento.custo.real
      %td= tratamento.dentista.nome unless tratamento.dentista.nil?
      %td{ :align => "center" }
        - if tratamento.data.to_s_br.blank?
          - if tratamento.pode_finalizar?
            %span{ :id => "finalizar_#{tratamento.id.to_s}" }
              = link_to "finalizar", "#", :onclick=>'finalizar_tratamento(' + tratamento.id.to_s + ')' 
          - else
            custo não lançado
        - else
          = tratamento.data.to_s_br
      %td{ :align => "center" }
        = tratamento.orcamento.numero unless tratamento.orcamento.nil?
      %td{:align=>'center'}
        = tratamento.resumo_protetico
        = link_to "trab. protético", new_trabalho_protetico_path(:tratamento_id=>tratamento.id, :paciente_id=>tratamento.paciente.id), :class=>'ui-icon ui-icon-plus' , :title => 'Novo tratalho de protético' if tratamento.pode_alterar? && tratamento.data.nil?
      %td{ :align => 'center'}
        - if tratamento.pode_alterar? || tratamento.liberado_para_alteracao?
          = link_to 'editar', edit_tratamento_path(:id=>tratamento.id), :class=>'ui-icon ui-icon-pencil' , :title=>'editar'
      %td{ :align => "center" }
        = link_to "excluir",  tratamento, :confirm => 'Tem certeza ?', :method=>:delete , :class => "ui-icon ui-icon-trash", :title => 'excluir'  if tratamento.pode_excluir? || tratamento.liberado_para_alteracao?
      - if current_user.master? && !tratamento.na_quinzena?
        - if tratamento.liberado_para_alteracao?
          %td= link_to "fechar", close_alteraco_path(:tabela => 'tratamentos', :id_registro => tratamento.id),:class=>'ui-icon ui-icon-unlocked'
        - else
          %td= link_to "liberar", new_alteraco_path(:tabela => 'tratamentos', :id_registro => tratamento.id),:class=>'ui-icon ui-icon-locked'
      - if current_user.master? && tratamento.na_quinzena?
        %td &nbsp;
    - total += tratamento.valor
    - total_com_desconto += tratamento.valor_com_desconto
  %tr
    %td{ :align => "center", :colspan => "4" }
      Total
    %td{ :align => "right" }
      = total.real
    %td
      &nbsp;
    %td{ :align => 'right'}
      = total_com_desconto.real
    %td{ :colspan => "8" }
= link_to "imprime", imprime_tratamento_paciente_path(@paciente)
- @paciente.orcamentos.each do |o|
  |
  = link_to "imprime #{o.numero}", imprime_tratamento_paciente_path(@paciente, :numero => o.numero)