<% content_for :main do %>
<fieldset>
<legend>Editando conta bancária</legend>

<% form_for(@conta_bancaria) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :clínica %><br />
    <%= f.select :clinica_id, @clinicas %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>

<%= link_to 'voltar', conta_bancarias_path %>
</fieldset>
<% end %>