<% content_for :main do %>
<fieldset>
	<legend> Editando a tabela </legend>
<% form_for(@tabela) do |f| %>
  <%= f.error_messages %>
  <p>Nome : 
  	<%= f.text_field :nome, :size=>20%>
  </p>
  <p>
  	<%= f.check_box :ativa %> ativa
  </p>
  
  <p>
    <%= f.submit 'Alterar' %>
  </p>
<% end %>

<%= link_to 'Mostrar', @tabela %> |
<%= link_to 'Voltar', tabelas_path %>
</fieldset>
<% end %>