#formulario_liberacao
  = label_tag :data_inicial 
  = text_field_tag :data_inicial_liberacao, params[:data_inicial_liberacao], :size=>10, :class=>'datepicker'
  = label_tag :data_final 
  = text_field_tag :data_final_liberacao, params[:data_final_liberacao], :size=>10, :class=>'datepicker' 
  = button_to_function 'pesquisar', "liberacao_entre_datas(#{@protetico.id})"
%p
%h2 Itens liberados para pagamento ( ainda não pagos )
#tabela_de_liberacao
:javascript
  function liberacao_entre_datas(id){
    $.ajax({
      url: "/proteticos/busca_trabalhos_liberados",
      data:  {id: id, 
              data_inicial_liberacao: $("#data_inicial_liberacao").val(), 
              data_final_liberacao: $("#data_final_liberacao").val()},
      success: function(data){
        $("#tabela_de_liberacao").html(data);
      }
    });
  }
