  <%= label_tag :data_inicial %>
  <%= text_field_tag :data_inicial, params[:data_inicial], :size=>10, :class=>'datepicker' %>
  <%= label_tag :data_final %>
  <%= text_field_tag :data_final, params[:data_final], :size=>10, :class=>'datepicker' %>
  <%= button_to_function 'pesquisar', "pagamento_do_protetico(#{@protetico.id})"%>
<br/><br/>
<div id='tabela_de_pagamentos'>
</div>
<script type="text/javascript">
  function pagamento_do_protetico(id){
    $.ajax({
      url: "pagamentos",
      data:  {id: id, 
              data_inicial: $("#data_inicial").val(), 
              data_final: $("#data_final").val()},
      success: function(data){
        $("#tabela_de_pagamentos").html(data);
      }
    });
  }
</script>
