<p>
  <b>Nome:</b>
  <%=h @protetico.nome %>
</p>

<p>
  <b>Logradouro:</b>
  <%=h @protetico.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%=h @protetico.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @protetico.complemento %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @protetico.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%=h @protetico.celular %>
</p>

<p>
  <b>Email:</b>
  <%=h @protetico.email %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @protetico.bairro %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @protetico.observacao %>
</p>

