<% dados = "Relatório do protético entre #{@data_inicial.to_s_br} e #{@data_final.to_s_br} - Trabalhos Devolvidos>Paciente;Dente;Data de envio;Descrição;Valor;Dt prevista devolução;Dt devolucão;Dentista;Protético>left;center;center;left;right;center;center;left;left>"%>
<h2>Trabalhos devolvidos</h2>
<table class='tabela'>
  <tr>
    <th><br/>Paciente</th>
    <th><br/>Dente</th>
    <th><br/>Data da envio</th>
    <th><br/>Descrição</th>
    <th><br/>Valor</th>
    <th>Data prevista<br/>de devolução</th>
    <th><br/>Data de devolução</th>
    <th><br/>Dentista</th>
    <th><br/>Protético</th>
  </tr>
<% @trabalhos_devolvidos.each do |trab| %>
  <tr>
  	<td><%= trab.paciente.nome unless trab.paciente.nil? %></td>
  	<td><%= trab.dente if trab.dente.present? %> </td>
    <td align='center'><%= trab.data_de_envio.to_s_br%></td>
    <td><%= link_to trab.tabela_protetico.descricao, edit_trabalho_protetico_path(trab) unless trab.tabela_protetico.nil? %></td>
    <td align='right'><%= trab.valor.real %></td>
    <td align='center'><%= trab.data_prevista_de_devolucao.to_s_br%></td>
    <td align='center'><%= trab.data_de_devolucao.to_s_br %></td>
    <td><%= trab.dentista.nome unless trab.dentista.nil? %></td>
    <td><%= link_to trab.protetico.nome, abre_protetico_path(trab.protetico) unless trab.protetico.nil? %></td>
  </tr>
  <% dados += "#{trab.paciente.nome};#{trab.dente if trab.dente.present?};#{trab.data_de_envio.to_s_br};#{trab.tabela_protetico.descricao if trab.tabela_protetico};#{trab.valor.real.to_s};#{trab.data_prevista_de_devolucao.to_s_br};#{trab.data_de_devolucao.to_s_br};#{trab.dentista.nome};#{trab.protetico.nome}>"%>

<% end %>
</table>
<%= link_de_impressao (dados, session[:clinica_id], 'landscape')%>