%div{:style => "float:right;"}
  Valor dos trabalhos selecionados : R$
  %span#valor 0
  %span#link_pagamento
    = link_to "efetua pagamento ", new_pagamento_path()
- dados = "Trabalhos recebidos e não pagos>Paciente;Dente;Dt Envio;Descrição;Observação;Valor;Dt devolução;Dentista>left;center;center;left;left;right;center;left>"
%h2 Trabalhos recebidos e não pagos
%table.tabela
  %tr
    %th
      %br
      Paciente
    %th
      %br
      Dente
    %th
      %br
      Data da envio
    %th
      %br
      Descrição
    %th
      %br
      Observação
    %th
      %br
      Valor
    %th
      %br
      Data de devolução
    %th
      %br
      Dentista
    %th
      Selecionar p/ pagto <br/>
      = check_box_tag :todos, '1', false,  options={:onclick => 'todos();'}
      todos
  - total = 0.0
  - @trabalhos_devolvidos.each do |trab|
    %tr
      %td= trab.paciente.nome
      %td= trab.dente if trab.dente.present?
      %td{:align => "center"}= trab.data_de_envio.to_s_br
      %td= link_to trab.tabela_protetico.descricao, edit_trabalho_protetico_path(trab) if trab.tabela_protetico
      %td= trab.observacoes
      - id = "valor_#{trab.valor}"
      %td{:align => "right"}= trab.valor.real
      %td{:align => "center"}= trab.data_de_devolucao.to_s_br
      %td= trab.dentista && trab.dentista.nome
      %td{:align => "center"}= check_box_tag :pagar, trab.id, false , options={ :onclick=>'pagar(' + trab.valor.to_s + ',' + trab.id.to_s + ',' + @protetico.id.to_s +  ');', :id=>'pagar_'+trab.id.to_s}
      - total += trab.valor
      - dados += "#{trab.paciente.nome};#{trab.dente if trab.dente.present?};#{data_abreviada(trab.data_de_envio)};#{trab.tabela_protetico.descricao if trab.tabela_protetico};#{trab.observacoes};#{trab.valor.real};#{data_abreviada(trab.data_de_devolucao)};#{trab.dentista && trab.dentista.nome};>"
  %tr
    %td{:colspan=>5, :align=>'center'} Total
    %td{:id=>'total', :align=>'right'}
      = total.real
    %td{:colspan=>3} &nbsp;
  - dados += "; ; ; ; Total;#{total.real}; ; ;>"
= link_de_impressao(dados,session[:clinica_id],'landscape')
:javascript
  function todos(){
    $("table input").attr("checked", true);
    $("#valor").html($.trim($("#total").html());
  }