<% content_for :main do %>
<h2>Listando protéticos</h2>

<% form_tag proteticos_path, :method=>:get do %>
  <p>
  <%= radio_button_tag :ativo, true , params[:ativo]=="true" -%> Ativos
  <%= radio_button_tag :ativo, false, params[:ativo]=="false" -%> Inativos
  &nbsp;&nbsp;&nbsp;
  <%= label_tag :que_iniciam_com %> : 
  <%= text_field_tag :iniciais, params[:iniciais] %>
  &nbsp;&nbsp;&nbsp;<%= submit_tag "pesquisar"-%>
  </p>
<% end %>

<table class='tabela'>
  <tr>
    <th width="220px">Nome</th>
    <th width="150px">Telefone</th>
    <th width="150px">Celular</th>
    <th width="180px">Email</th>
    <th>&nbsp;</th>
  </tr>

<% @proteticos.each do |protetico| %>
  <tr id = <%= "tr_#{protetico.id}"%> >
    <td><%= link_to protetico.nome, abre_protetico_path(protetico) %></td>
    <td><%=h protetico.telefone %></td>
    <td><%=h protetico.celular %></td>
    <td><%=h protetico.email %></td>
    <td>
      <% if protetico.ativo %>
        <%= link_to_function 'desativar' , "desativar_protetico(#{protetico.id})", :class=>"ui-icon ui-icon-cancel" %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo protético', new_protetico_path %>
<script type="text/javascript">
  function desativar_protetico(id){
    $.ajax({
      url: "/proteticos/" + id + "/desativar",
      success: function(data){
        $("#tr_"+id).remove();
      },
    })
  }
</script>
<% end %>