<% content_for :main do %>
  <%= render :partial => '/layouts/include_senha' %>

<div id="titulo">Produção Anual</div>
<% form_tag :url=>producao_anual_clinicas_path, :method=>:get do %>
  <p>Ano : 
  <%= select_year @date %>
  <%= submit_tag "pesquisar" %><br/>
  </p>
<% end %>
<% dados = "#{@titulo};>Nome;Jan;Fev;Mar;Abr;Mai;Jun;Jul;Ago;Set;Out;Nov;Dez;Total>left;right;right;right;right;right;right;right;right;right;right;right;right;right>"%>
<table class='tabela'>
  <tr>
    <th>Nome</th>
    <th>Jan</th>
    <th>Fev</th>
    <th>Mar</th>
    <th>Abr</th>
    <th>Mai</th>
    <th>Jun</th>
    <th>Jul</th>
    <th>Ago</th>
    <th>Set</th>
    <th>Out</th>
    <th>Nov</th>
    <th>Dez</th>
    <th>Total</th>
  </tr>
  <% total = Array.new(13,0) %>
<% @valores.each do |val| %>
  <tr>
    <% total_dentista = 0 %>
    <td><%= val[0] %></td>
    <% dados += val[0] + ';' %>
    <% (1..12).each do |mes| %>
      <td align='right'><%= val[mes].real %></td>
      <% dados += val[mes].real.to_s + ';' %>
      <% total[mes] += val[mes] %>
      <% total_dentista += val[mes] %>
    <% end %>
    <td align='right'><%= total_dentista.real %></td>
    <% dados += total_dentista.real.to_s + '>'%>
  </tr>
<% end %>
<tr>
  <td>Total</td>
  <% dados += 'Total;'%>
  <% (1..13).each do |mes| %>
    <td><%= total[mes].real %></td>
    <% dados += total[mes].real.to_s + ';' %>
  <% end %>
  <% dados += '>' %>
</tr>
</table>
<%= link_de_impressao(dados,session[:clinica_id], 'landscape') %>
<% end %>