<% content_for :main do %>
<h3>Relatório de alta</h3>
<p>
<% form_tag :url=>relatorio_alta_clinicas_path do  %>
  <%= check_box_tag :somente_em_alta, :alta , params[:somente_em_alta] %> Somente em alta &nbsp;&nbsp;&nbsp;
  <%= render :partial=>'entre_datas' %>
  <br/>
<% end %>
</p>
<% if @erro %>
  <h3><%= @erro %> </h3>
<% else %>
	<br/>
	<table class='tabela'>
	  <tr>
	    <th>Data início</th>
	    <th>Paciente</th>
	    <th>Observação</th>
	    <th>Data de término</th>
	  </tr>
	  <% @altas.each do |alta| %>
	    <tr>
	      <td><%= alta.data_inicio.to_s_br %></td>
	      <td><%= alta.paciente.nome if alta.paciente.present? %></td>
	      <td><%= alta.observacao %></td>
	      <td><%= alta.data_termino.to_s_br %></td>
	    </tr>
	  <% end %>
	</table>
<% end %>
<% end %>