  <p>
    <%= label_tag :Paciente %> : <b><%= @abono.paciente.nome %></b>
  </p>
  <%= f.hidden_field :paciente_id %>
  <p>
    <%= f.label :data %> :<br />
    <%= f.text_field :data_pt_br, :size=>10, :class => 'datepicker' %>
  </p>
  <p>
    <%= f.label :valor %> :<br />
    <%= f.text_field :valor_real, :size=>10 %>
  </p>
  <p>
    <%= f.label :observação %> :<br />
    <%= f.text_field :observacao, :size=>40 %>
  </p>
  <p>
    <%= f.submit 'gravar' if  current_user.master? %>
  </p>
