<% content_for :main do %>
<fieldset >
<legend>Nova alta</legend>
Paciente : <%= @alta.paciente.nome %>
<% form_for(@alta) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :paciente_id %>
<p>
    <%= f.label :data %> :
    <%= text_field_tag :datepicker, Date.today.to_s_br, :size=>10 %>
  </p>
  <p>
  	<%= f.label :observação %> :
    <%= f.text_field :observacao %>
  </p>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>

<%= link_to 'voltar', altas_path %>
</fieldset>
<% end %>
