- content_for :main do
  Retorno no mes
  -form_tag do
    = select_month @data
    = select_year @data
    = submit_tag :pesquisar
  <br/>
  %table
    %tr
      %th Nome  
      %th Data de início 
    -@altas.each do |alta|
      %tr
        %td= alta.paciente.nome
        %td= alta.data_inicio.to_s_br
