<% content_for :main do %>
<fieldset>
<legend>Nova descrição de conduta</legend>

<% form_for(@descricao_conduta) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :descrição %> :<br/> 
    <%= f.text_area :descricao, :cols=>70, :rows=>4 %>
  </p>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>

<%= link_to 'voltar', descricao_condutas_path %>
</fieldset>
<% end %>