<% content_for :main do %>
<h3>Orçamentos elaborados</h3>
<% form_tag :url=>relatorio_orcamentos_path, :method=>:get do %>
  <p>
  Entre :
  <%= text_field_tag :datepicker, params[:datepicker], :size=>10 %>
  e :
  <%= text_field_tag :datepicker2,params[:datepicker2],:size=>10 %>
  <%= check_box_tag :acima_de_um_valor,{},params[:acima_de_um_valor], options={:onclick=>'definir_valor();'} %>
  Acima do valor :
  <%= text_field_tag :valor , params[:valor], :size=>10 %>
  <%= submit_tag "pesquisar"%>
  </p>
<% end %>
<table class='tabela'>
  <tr>
    <th>Data</th>
    <th>Paciente</th>
    <th>Telefones</th>
    <th>Dentista</th>
    <th>Valor final</th>
    <th>Estado</th>
  </tr>
  <% dados = "#{@titulo};>Data;Paciente;Telefones;Dentista;Valor final;Estado>center;left;left;left;right;center>" %>

<% @orcamentos.each do |orca| %>
  <tr>
    <td align='center'><%= orca.data.to_s_br %></td>
    <td><%= link_to orca.paciente.nome, abre_paciente_path(orca.paciente) %></td>
    <td><%= orca.paciente.telefones %></td>
    <td><%= orca.dentista.nome unless orca.dentista.nil?%></td>
    <td align='right'><%= orca.valor_com_desconto.real %></td>
    <td><%= orca.estado %></td>
  </tr>
  <% dados += "#{orca.data.to_s_br[0..5]+orca.data.to_s_br[8..9]};#{orca.paciente.nome};#{orca.paciente.telefones};#{orca.dentista.nil? ? '' : orca.dentista.nome };#{orca.valor_com_desconto.real};#{orca.estado}>"%>
<% end %>
</table>
<%= link_de_impressao(dados,session[:clinica_id],'landscape') %>
<% end %>