- content_for :main do
  - total_de_debito_em_dinheiro  = 0.0
  - total_de_debito_em_cheque    = 0.0
  - total_de_credito_em_cheque   = 0.0
  - total_de_credito_em_dinheiro = 0.0
  - total_de_credito_em_cartao   = 0.0

  = render :partial => '/layouts/include_senha'
  = link_to 'novo pagamento', new_pagamento_path if current_user.pode_alterar_na_clinica?
  %h3{ :style => "padding-left: 10em;" }
    Fluxo de caixa do dia :
    = @fluxo.data.to_s_br
  %table{:class=>'transparente'}
    %tr
      %td
        Saldo anterior em dinheiro :
      %td{ :align => "right" }
        = @fluxo.saldo_em_dinheiro.real
    %tr
      %td
        Saldo anterior em cheque :
      %td{ :align => "right" }
        = @fluxo.saldo_em_cheque.real
  - dados = "Livro Caixa em #{@fluxo.data.to_s_br};>Descrição;Crédit din;Déb din;Saldo din;Crédit chq;Déb chq;Saldo chq;Cartão>left;right;right;right;right;right;right;right;>"
  %table{:class=>'tabela'}
    %tr
      %th{ :width => "250px" }
        Descrição
      %th{ :width => "80px" } Crédito Dinheiro
      %th{ :width => "80px" } Débito Dinheiro
      %th{ :width => "80px" } Saldo Dinheiro
      %th{ :width => "80px" } Crédito Cheque
      %th{ :width => "80px" } Débito Cheque
      %th{ :width => "80px" } Saldo Cheque
      %th{ :width => "80px" } Cartão
    %tr
      %td
        Saldo de abertura
        - dados += "Saldo de abertura;;;#{@fluxo.saldo_em_dinheiro.real};;;#{@fluxo.saldo_em_cheque.real}; ;>"
      %td
        \&nbsp;
      %td
        \&nbsp;
      %td{ :align => "right" }
        = @fluxo.saldo_em_dinheiro.real
      %td
        \&nbsp;
      %td
        \&nbsp;
      %td{ :align => "right" }
        = @fluxo.saldo_em_cheque.real
      %td
        \&nbsp;
    - saldo_dinheiro = @fluxo.saldo_em_dinheiro
    - saldo_dinheiro = 0.0 if saldo_dinheiro.nil?
    - saldo_cheque   = @fluxo.saldo_em_cheque
    - saldo_cheque   = 0.0 if saldo_cheque.nil?
    - @lancamentos.each() do |lancamento|
      %tr
        - case lancamento.class.name
          - when 'Cheque' :
            %td
              - str = lancamento.nome_dos_pacientes
              - str += " ( " + lancamento.recebimentos[0].paciente.clinica.sigla + " ) " if @clinica_atual.administracao? && lancamento.recebimentos[0]
              = str
              - dados += str + ";;;;#{lancamento.valor.real}; ; ; ;"
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
            %td{ :align=> 'right'}= lancamento.valor.real
            %td &nbsp;
            -saldo_cheque += lancamento.valor
            %td{ :align => "right" }
              = #saldo_cheque.real
            - total_de_credito_em_cheque += lancamento.valor
            %td &nbsp;
          - when "Recebimento" :
            - if lancamento.formas_recebimento && lancamento.formas_recebimento.nome.downcase =="dinheiro"
              - if lancamento.paciente && lancamento.paciente.nome
                %td
                  = lancamento.paciente.nome
                  - dados += "#{lancamento.paciente.nome};"
              - else
                %td &nbsp;
                - dados += ";"
              %td{ :align => "right" }
                = lancamento.valor.real
                - dados += "#{lancamento.valor.real};;"
              %td &nbsp;
              - saldo_dinheiro += lancamento.valor
              %td{ :align => "right" }
                = saldo_dinheiro.real
                - dados += "#{saldo_dinheiro.real};;;"
              %td &nbsp;
              %td &nbsp;
              %td{ :align => "right" }
                = saldo_cheque.real
                - dados += "#{saldo_cheque.real};;"
              - total_de_credito_em_dinheiro += lancamento.valor
              %td &nbsp;
            - elsif lancamento.formas_recebimento && lancamento.formas_recebimento.nome.downcase =="cheque"
              - if lancamento.paciente
                %td
                  = lancamento.paciente.nome
                  - dados += "#{lancamento.paciente.nome};;;"
              - else
                - dados += ";;;"
                %td &nbsp;
              %td &nbsp;
              %td &nbsp;
              %td{ :align => "right" }
                = saldo_dinheiro.real
                - dados += "#{saldo_dinheiro.real};"
              - if lancamento.cheque && lancamento.cheque.recebido_pela_administracao?
                %td{:align => 'right'}= lancamento.valor.real
                - dados += "#{lancamento.valor.real};"
                %td{ :align => "right", :style => "color: red;" }
                  = lancamento.valor.real
                - dados += "#{lancamento.valor.real};"
                - #saldo_cheque -= 0 lancamento.valor
                - total_de_debito_em_cheque += lancamento.valor
                - total_de_credito_em_cheque += lancamento.valor
              - else
                %td{ :align => "right" }
                  = lancamento.valor.real
                  - dados += "#{lancamento.valor.real};;"
                %td &nbsp;
                - saldo_cheque += lancamento.valor
                - total_de_credito_em_cheque += lancamento.valor
              %td{ :align => "right" }
                = saldo_cheque.real
                - dados += "#{saldo_cheque.real};;"
              %td &nbsp;

            - else
              %td
                -if lancamento.paciente
                  = lancamento.paciente.nome
                  - dados += "#{lancamento.paciente.nome};;;"
                -else 
                  &nbsp;
              %td &nbsp;
              %td &nbsp;
              %td{ :align => "right" }
                = saldo_dinheiro.real
                - dados += "#{saldo_dinheiro.real};;;"
              %td &nbsp;
              %td &nbsp;
              %td{ :align => "right" }
                = saldo_cheque.real
                - dados += "#{saldo_cheque.real};"
              %td{ :align => "right" }
                = lancamento.valor.real
                - dados += "#{lancamento.valor.real};"
              - total_de_credito_em_cartao += lancamento.valor
            
          - when "Pagamento"
            %td
              - if lancamento.observacao && lancamento.tipo_pagamento
                = link_to lancamento.tipo_pagamento.nome + ', ' + lancamento.observacao, edit_pagamento_path(lancamento)
                - dados += "#{lancamento.tipo_pagamento.nome + ', ' + lancamento.observacao};"
              - elsif lancamento.observacao
                = link_to lancamento.observacao, edit_pagamento_path(lancamento)
                - dados += "#{lancamento.observacao};"
              - else
                = link_to lancamento.tipo_pagamento.nome, edit_pagamento_path(lancamento)
                - dados += "#{lancamento.tipo_pagamento.nome};"
               
            %td &nbsp;
            - dados += ";"
            - if lancamento.em_dinheiro? || lancamento.opcao_restante == Pagamento::OPCAO_RESTANTE_EM_DINHEIRO
              - if lancamento.em_dinheiro?
                %td{ :align => "right", :style => "color: red;" }
                  = lancamento.valor_pago.real
                  - dados += "#{lancamento.valor_pago.real};"
                - saldo_dinheiro -= lancamento.valor_pago
                - total_de_debito_em_dinheiro += lancamento.valor_pago
                %td{:align => "right"}= saldo_dinheiro 
                - dados += "#{saldo_dinheiro.real};;;"
                %td &nbsp;
                %td &nbsp; 
              - else
                %td{ :align => "right", :style => "color: red;" }
                  = lancamento.valor_restante.real
                  - dados += "#{lancamento.valor_restante.real};;;"
                - saldo_dinheiro -= lancamento.valor_restante
                %td &nbsp;
                %td &nbsp;
                %td{ :align => "right", :style => "color: red;" }
                  = lancamento.valor_pago.real - lancamento.valor_restante.real
                  - dados += "#{lancamento.valor_pago.real - lancamento.valor_restante.real};"
                - #saldo_cheque -= lancamento.valor_pago - lancamento. valor_restante.real
                - total_de_debito_em_cheque += lancamento.valor_pago

            - else
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
              %td{ :align => "right", :style => "color: red;" }
                = lancamento.valor_terceiros.real 
                - dados += ";;;#{lancamento.valor_terceiros.real};"
              - saldo_cheque -= lancamento.valor_terceiros #- lancamento.valor_restante.real
              - total_de_debito_em_cheque += lancamento.valor_pago
            %td{ :align => "right" }
              = saldo_cheque.real
              - dados += "#{saldo_cheque.real};;"
            %td &nbsp;

        - when "Entrada"
          - if lancamento.remessa?(session[:clinica_id])
            - clinica = Clinica.find(lancamento.clinica_destino)
            %td= "Remessa, " + lancamento.observacao + " (#{clinica.sigla}) "
            - dados += "Remessa ,#{lancamento.observacao};;"
            %td &nbsp;
            %td{ :align => "right", :style => 'color: red;'}= lancamento.valor.abs.real 
            -dados += "#{lancamento.valor.abs.real};"
            - saldo_dinheiro -= lancamento.valor
            - total_de_debito_em_dinheiro += lancamento.valor.abs
            %td{ :align => "right"}= saldo_dinheiro.real
          - else
            - clinica = Clinica.find(lancamento.clinica_id)
            %td= "Entrada, " +lancamento.observacao + " (#{clinica.sigla}) "
            - dados += "Entrada, #{lancamento.observacao};"
            %td{ :align => "right"}= lancamento.valor.abs.real
            - dados += "#{lancamento.valor.abs.real};;"
            %td &nbsp;
            - saldo_dinheiro += lancamento.valor.abs
            - total_de_credito_em_dinheiro += lancamento.valor.abs
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          - dados += ";;;;;"
        - else
          %td= lancamento.class.name + "-"+lancamento.observacao
          - dados += "#{lancamento.class.name + "-"+lancamento.observacao};"
          - if lancamento.valor.nil?
            %td 
              = lancamento.class.name + "-" + lancamento.id.to_s
              - dados += "#{lancamento.class.name + "-" + lancamento.id.to_s};"
          - if lancamento.valor && lancamento.valor > 0
            %td{ :align => "right" }
              = lancamento.valor.abs.real
              - dados += "#{lancamento.valor.real};;"
            - saldo_dinheiro += lancamento.valor
            %td &nbsp;
          - else
            %td &nbsp;
            - dados += ";"
            %td{ :align => "right", :style => "color: red;" }
              = lancamento.valor && lancamento.valor.real
              - dados += "#{lancamento.valor && lancamento.valor.real};"
            - saldo_dinheiro += lancamento.valor if lancamento.valor
            %td{ :align => "right" }
              =# saldo_dinheiro.real
            %td &nbsp;
            %td &nbsp;
            %td{ :align => "right" }
              =# saldo_cheque.real
            %td &nbsp;
            - dados += ";;;;"
      - dados += ">"
      - #raise dados.inspect
    %tr
      %td= 'Saldo de fechamento'
      %td{ :align=>'right' }= total_de_credito_em_dinheiro.real
      %td{ :align=>'right', :style => 'color: red;' }= total_de_debito_em_dinheiro.real
      %td{ :align=>'right' }
        %strong= saldo_dinheiro.real
      %td{ :align=>'right' }= total_de_credito_em_cheque.real
      %td{ :align=>'right', :style => 'color: red;' }= total_de_debito_em_cheque.real
      %td{ :align=>'right' }
        %strong= saldo_cheque.real
      %td{ :align=>'right' }
        %strong= total_de_credito_em_cartao.real
      - dados += "Saldo de fechamento;#{total_de_credito_em_dinheiro.real};#{total_de_debito_em_dinheiro.real};#{saldo_dinheiro.real};#{total_de_credito_em_cheque.real};#{total_de_debito_em_cheque.real};#{saldo_cheque.real};#{total_de_credito_em_cartao.real};>"
  %p
    = link_to "anterior", fluxo_de_caixa_path(:data=>@fluxo.data - 1.day)
    = "|"
    = link_to "próximo", fluxo_de_caixa_path(:data=>@fluxo.data + 1.day, :saldo_dinheiro=>saldo_dinheiro.real, :saldo_cheque => saldo_cheque.real)
    = botao_de_impressao(dados, session[:clinica_id], 'landscape')
    - form_tag imprime_path(:clinica_id=>session[:clinica_id],:orientation=>'landscape') do 
      = hidden_field_tag :tabela, dados
      = submit_tag "imprime"