  <%= javascript_include_tag 'protetico.js' %>

<% content_for :main do %>
  <fieldset class='fieldset_40'>
  <legend>Novo trabalho protetico :</legend>

  <% form_for(@trabalho_protetico) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :paciente_id %>
    <%= f.hidden_field :clinica_id %>
    <%= f.hidden_field :tratamento_id %>
    <%= f.hidden_field :dentista_id %>
    <%= f.hidden_field :dente %>
  
    <% if @tratamento %>
      <div>
        Tratamento : <%= @tratamento.descricao if @tratamento %>
      </div>
    <% end %>
    <div>
      <%= f.label 'dentista :' %>
      <%= f.select :dentista_id , options_for_select(@dentistas, @trabalho_protetico.dentista_id) %>
    
    </div>
    <div>
      <%= f.label 'dente : ' %>   
      <%= f.text_field :dente , :size=>8%>
    </div>
    <hr>
    <div>
      <%= f.label 'protetico :' %>
      <%= f.select :protetico_id, @proteticos, {:include_blank=>true}, :onchange=>"escolheu_protetico();" %>
    </div>
    <div>
  <% #TODO Colocar o dia da semana %>
      <%= f.label 'data de envio :' %>
      <%= f.text_field :data_envio_pt, :size=>10, :class=>'datepicker txt' %>
    </div>
    <div>
      <%= f.label 'data prevista de devolução :'%> 
      <%= f.text_field :data_prevista_de_devolucao_pt, :size=>10, :class=>'datepicker txt' %>
    </div>
    <div>
      <%= f.label 'data de devolução :' %>
      <%= f.text_field :data_de_devolucao_pt, :size=>10, :class=>'datepicker txt' %>
    </div>
    <div>
      <%= f.label 'tabela protético : ' %>
      <%= f.select :tabela_protetico_id,[],{}, :onchange=>"escolheu_item_da_tabela();" %>
    </div>
    <div>
      <%= f.label 'valor :' %>
      <%= f.text_field :valor, :size=>8 %>
    </div>
    <div>
      <%= f.label 'cor :'%>
      <%= f.text_field :cor, :size=>8 %>
    </div>
    <div>
      <%= f.label 'observações :' %> 
      <%= f.text_area :observacoes, :rows=>3, :columns=>50 %>
    </div>
    <div>
      <%= f.label 'data de repetição : ' %>
      <%= f.text_field :data_de_repeticao_pt, :size=>10, :class=>'datepicker' %>
    </div>
    <div>
      <%= f.label 'motivo da repetição :'%>
      <%= f.text_field :motivo_da_repeticao %>
    </div>
    <div>
      <%= f.label 'data prevista da devolução da repetição :'%> 
      <%= f.text_field :data_prevista_da_devolucao_da_repeticao_pt, :size=>10, :class=>'datepicker' %>
    </div>
    <div>
      <%= f.submit 'salvar' if current_user.secretaria? %>
      <%= link_to 'voltar', abre_paciente_path(@trabalho_protetico.paciente) %>
    </div>
  <% end %>
  </fieldset>
<% end %>
