<% content_for :main do %>
<p>
  <b>Dentista:</b>
  <%=h @trabalho_protetico.dentista_id %>
</p>

<p>
  <b>Protetico:</b>
  <%=h @trabalho_protetico.protetico_id %>
</p>

<p>
  <b>Dente:</b>
  <%=h @trabalho_protetico.dente %>
</p>

<p>
  <b>Data de envio:</b>
  <%=h @trabalho_protetico.data_de_envio %>
</p>

<p>
  <b>Data prevista de devolucao:</b>
  <%=h @trabalho_protetico.data_prevista_de_devolucao %>
</p>

<p>
  <b>Data de devolucao:</b>
  <%=h @trabalho_protetico.data_de_devolucao %>
</p>

<p>
  <b>Tabela protetico:</b>
  <%=h @trabalho_protetico.tabela_protetico_id %>
</p>

<p>
  <b>Valor:</b>
  <%=h @trabalho_protetico.valor %>
</p>

<p>
  <b>Cor:</b>
  <%=h @trabalho_protetico.cor %>
</p>

<p>
  <b>Observacoes:</b>
  <%=h @trabalho_protetico.observacoes %>
</p>

<p>
  <b>Data de repeticao:</b>
  <%=h @trabalho_protetico.data_de_repeticao %>
</p>

<p>
  <b>Motivo da repeticao:</b>
  <%=h @trabalho_protetico.motivo_da_repeticao %>
</p>

<p>
  <b>Data prevista da devolucao da repeticao:</b>
  <%=h @trabalho_protetico.data_prevista_da_devolucao_da_repeticao %>
</p>


<%= link_to 'editar', edit_trabalho_protetico_path(@trabalho_protetico) %> |
<%= link_to 'voltar', trabalho_proteticos_path %>
<% end %>