- content_for :main do
  = render :partial => '/layouts/include_senha'

  %h3 Entrada de dinheiro
  %p
  - form_tag :url=>na_administracao_entradas_path do
    = render :partial=>'diversos/entre_datas'
  %p
  %table{:class=>'tabela'}
    %tr
      %th Data
      %th Clínica
      %th{:width=>210} Observação
      %th{:width=>80} Valor
      %th Resolução<br/> de cheque
      %th Confirmação
    - total = 0
    - @entradas.each do |entrada|
      %tr
        %td 
          =entrada.data.to_s_br
        %td 
          =entrada.clinica.nome
        %td 
          =entrada.observacao
        %td{:align=>'right'}
          =entrada.valor.abs.real
        %td{:align=>'center'}
          =sim_nao(entrada.resolucao_de_cheque)
        %td{:align=>'center'}
          - if entrada.confirmada?
            = entrada.data_confirmacao_da_entrada.to_s_br
          - else
            = check_box_tag 'entrada_' + entrada.id.to_s
        - total += entrada.valor
    %tr
      %td{:colspan=>"3", :align=>'center'}
        Total :
      %td{:align=>'right'}
        = total.abs.real
      %td
        = button_to_function "registrar",  :onclick=>'registra_confirmacao_de_entrada()'
