<% content_for :main do %>
<fieldset>
	
  <legend>Nova <%= params[:tipo] %></legend>

<% form_for(@entrada) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :tipo, params[:tipo]%>
  <div>
    <%= f.label :data %> :
    <%= text_field_tag :datepicker, @entrada.data.to_s_br,  :size=>10, :class=> 'txt' %>
  </div>
  <% if @clinica_atual.administracao? %>
  <div>
    <%= f.label :clinica %> :
    <%= select_tag :clinica_id, options_for_select(@clinicas)%>
  </div>
  <% end %>
  <div>
    <%= f.label :valor %> :
    <%= f.text_field :valor_br, :size=>10, :class=> 'txt' %>
  </div>
  <% if !@clinica_atual.administracao? %>
    <div>
      <%= f.check_box :resolucao_de_cheque %>
      <%= f.label 'Resolução de cheque'%>
    </div>
  <% end %>
  <div>
    <%= f.label :observação %> :
    <%= f.text_field :observacao, :size=>30, :class=> 'txt' %>
  </div>
  <div>
    <%= f.submit 'salvar' if current_user.pode_alterar_na_clinica? %>
    <%= link_to 'voltar', entradas_path %>
  </div>
<% end %>

</fieldset>
<% end %>