<% content_for :main do %>
<fieldset>
<legend>Editando débito</legend>

<% form_for(@debito) do |f| %>
  <%= f.error_messages %>
  
  <p>
	<%= f.label :data %><br />
  	<%= f.text_field :data_br , :class => 'datepicker', :size=>10 %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor_real, :size=>8 %>
  </p>
  <p>
    <%= f.label :descrição %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'salvar' if current_user.secretaria? %>
  </p>
<% end %>

<%= link_to 'voltar', abre_paciente_path(:id=>@debito.paciente_id) %>
<% end %>