<% content_for :main do %>

 Ficha do dentista : <b><%= @dentista.nome %></b><br/>  

<div id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>Cadastro</span></a></li>
        <li><a href="#fragment-2"><span>Produção</span></a></li>
        <li><a href="#fragment-3"><span>Pagamento</span></a></li>
        <li><a href="#fragment-4"><span>Orçamentos</span></a></li>
        <% if @dentista.ortodontista %>
          <li><a href="#ortodontia"><span>Pacientes de Ortodontia</span></a></li>
          <!-- <li><a href="#producao_ortodontia"><span>Produção de Ortodontia</span></a></li> -->
        <% end %>
    </ul>
    <div id="fragment-1">
	    <%= render :partial=>"editar" , :locals=>{:dentista=>@dentista, :clinicas=>@clinica_atual} %>
        
    </div>
    <div id="fragment-2">
        <%= render :partial=>"producao"  %>
    </div>
    <div id="fragment-3">
       <%= render :partial=>"pagamento" , :locals=>{:dentista=>@dentista, :clinicas=>@clinica_atual} %>
    </div>
    <div id='fragment-4'><%= render :partial=>'orcamentos_elaborados' %> </div>
    <% if @dentista.ortodontista %>
      <div id="ortodontia"><%= render :partial=> 'pacientes_de_ortodontia' %></div>
      <!-- <div id="producao_ortodontia"><%= render :partial=> 'producao_de_ortodontia' %></div> -->
    <% end %>
</div>
<% end %>