<% content_for :main do %>
<h3>Listando dentistas</h3>
<% form_tag pesquisar_dentistas_path do %>
  <p>
  <%= radio_button_tag :ativo, true , params[:ativo]=="true" -%> Ativos
  <%= radio_button_tag :ativo, false, params[:ativo]=="false" -%> Inativos
  &nbsp;&nbsp;&nbsp;<%= submit_tag "pesquisar"-%>
  </p>
<% end %>
<table class='tabela'>
  <tr>
    <th width="270px">Nome</th>
    <th width="80px">Telefone</th>
    <th width="80px">Celular</th>
    <th width="50px">Ativo</th>
    <th width="50px">Percentual</th>
    <th>Clínica(s)</th>
  </tr>

<% @dentistas.each do |dentista| %>
  <tr>
    <td><%= link_to dentista.nome, abre_dentista_path(:id=>dentista.id) %></td>
    <td><%=h dentista.telefone %></td>
    <td><%=h dentista.celular %></td>
    <td><%=h dentista.ativo  ? "sim" : "não"  %></td>
    <td align="center"><%= dentista.percentual %></td>
    <td><%=h dentista.sigla_das_clinicas %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo dentista', new_dentista_path if @clinica_atual.administracao? %>

<% end %>