<% content_for :main do %>
<h3>Listando formas de recebimento</h3>
<table class='tabela'>
  <tr>
    <th width="210px">Nome</th>
    <th>Ativo</th>
    <th>Tipo</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @formas_recebimentos.each do |formas_recebimento| %>
  <tr>
    <td><%=h formas_recebimento.nome %></td>
    <td><%=h formas_recebimento.ativo ? 'sim' : 'não '%></td>
    <td><%=h formas_recebimento.tipo %></td>
    <td><%= link_to 'editar', edit_formas_recebimento_path(formas_recebimento) %></td>
    <td><%= link_to 'apagar', formas_recebimento, :confirm => 'Tem certeza ?', :method => :delete if 0==1 %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova forma de recebimento', new_formas_recebimento_path %>
<% end %>