<% content_for :main do %>
<fieldset>
<legend>Nova forma de recebimento</legend>

<% form_for(@formas_recebimento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.select :tipo, [{'O'=>'outros'}, {'C'=>'cheque', {'D'=>'dinheiro'}] %>
  </p>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>
</fieldset>
<%= link_to 'voltar', formas_recebimentos_path %>
<% end %>