<% content_for :main do %>

  <fieldset class="fieldset_50">
  <legend>Novo pagamento 
    <%= " : protético " + @protetico.nome if @protetico %>
    <%= " : dentista " + @dentista.nome if @dentista %>
  </legend>
  <% form_for(@pagamento) do |f| %>
    <%= f.error_messages %>
  <div id="valor_restante" class="direita">
      <p><%= f.label :valor_restante %>
         <%= f.text_field :valor_restante_br, :size=>9 %></p>
      <p>
        <%= f.radio_button :opcao_restante,  0, :onclick=>"cheque(0);"%> sem restante<br/>
        <%= f.radio_button :opcao_restante,  1, :onclick=>"cheque(1);" %> pago em cheque<br/>
        <%= f.radio_button :opcao_restante, 2, :onclick=>"cheque(0);" %> pago em dinheiro<br/>
        <%= f.radio_button :opcao_restante, 3, :onclick=>"cheque(0);"%> fica devendo<br/>
        <%= f.radio_button :opcao_restante, 4, :onclick=>"cheque(0);"%> ignora restante<br/>
        <%= f.radio_button :opcao_restante, 5, :onclick=>"cheque(0);"%> recebe_troco<br/>
      </p>
  </div>
  <%= hidden_field_tag :dentista_id , @dentista.id if @dentista %>

    <div>
      <%= f.label :tipo_de_pagamento %> : 
      <%= f.select :tipo_pagamento_id, @tipos_pagamento %>
    </div>
    <div>
      <%= f.label :data_de_pagamento %> : 
      <%= f.text_field :data_de_pagamento_pt, :class=>'datepicker', :size=>10 %>
    </div>
    <div>
      <%= f.label :valor %> : <%= f.text_field :valor_pago_real, :size=>10 , :onblur=>'selecionou_cheque();'%>
    </div>
  
    <div>
      <%= f.label :observação %> : 
      <%= f.text_field :observacao, :size=>40 %>
    </div>
    <p>
      <%= f.check_box :nao_lancar_no_livro_caixa %>
      <%= f.label :não_lançar_no_livro_caixa %>
    </p>
    <div id="cheque_classident" style="display:none">
      <fieldset>
        <legend>Cheque da classident</legend>
          <div>
            <%= f.label :conta %> : 
            <%= f.select :conta_bancaria_id, @contas_bancarias %>
          </div>
          <div>
            <%= f.label :n_cheque %> : 
            <%= f.text_field :numero_do_cheque, :size=>7 %>
          </div>
          <div>
            <%= f.label :valor %> : 
            <%= f.text_field :valor_cheque_br, :size=>8 %>
          </div>
      </fieldset>
    </div>
    <% if @clinica_atual.administracao? && @dentista.present? %>
    <div id="custo_das_clinicas" style="display:true">
      <fieldset>
        <legend>Custos das clínicas</legend>
        <table class='transparente'>
          <tr>
            <td>&nbsp;</td>
            <td>Clínicas :</td>
            <td>Valores :</td>
          </tr> 
        <% @dentista.clinicas.each do |clinica| %>
            <td><%= check_box_tag "custo_clinica_#{clinica.id}", '', true%></td>
            <td><%= clinica.nome %></td>
            <td><%= text_field_tag "valor_#{clinica.id}", {}, :size=>8 %></td>
          </tr>
        <% end %>
        </table>
        <p></p>
      </fieldset>
    </div>
    <% end %>
    <%= hidden_field_tag :cheques_ids %>
    <p>
      <%= f.submit 'Criar' if current_user.pode_alterar_na_clinica? %>
    </p>

  <% end %>
  <%= render :partial=>"cheques/disponiveis" , :locals => {:pagamento => @pagamento}%>
  <%= button_to 'voltar', session[:origem] %>

  </fieldset>

<% end %>
