%h4 Cheques do paciente
%table{:class=>'tabela'}
  %tr
    %th Bom para
    %th Valor
    %th Banco
    %th Agência
    %th Número
    %th Status
    %th Outros pacientes
  - @paciente.cheques.each do |cheque|
    - if !cheque.excluido?
      %tr
        %td= link_to cheque.bom_para.to_s_br, cheque, :target => :blank
        %td= cheque.valor.real
        %td= cheque.banco.nome if cheque.banco.present?
        %td= cheque.agencia
        %td= cheque.numero
        %td= cheque.status
        %td= cheque.nome_dos_outros_pacientes(@paciente.nome)
  