<% content_for :main do %>
<script>
	$(function() {
		$( ".datepicker" ).datepicker({ minDate: -20 });
	});
</script>

<fieldset class="fieldset_50">
<legend>Editando cheque ( <%= @cheque.id%> )</legend>

<% form_for(@cheque) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :clinica_id %>

  <div>
    <%= f.label :paciente %> : <%= @cheque.nome_dos_pacientes %>
  </div>

  <div>
     <%= f.label :banco %> : 
     <%= f.select :banco_id, options_for_select(@bancos, @cheque.banco_id)  %>
  </div>
  <div>
     <%= f.label :agencia %> : 
     <%= f.text_field :agencia, :size=>7 , :disabled => !@cheque.pode_alterar?(current_user) %>
  </div>
  
  <div>
     <%= f.label :número_do_cheque %> : 
     <%= f.text_field :numero, :size=>7 , :disabled => !@cheque.pode_alterar?(current_user)%>
  </div>
  <div>
    <%= f.label :valor %> :
    <%= f.text_field :valor_real, :size=>8, :disabled=> @cheque.para_mais_de_um_paciente? ||  !@cheque.pode_alterar?(current_user) %>
  </div>
  <div>
    <%= f.label :bom_para %> :
    <%= f.text_field :bom_para_br,  :size=>10, :class => 'datepicker', :disabled => !@cheque.pode_alterar?(current_user) %>
  </div>
  <div>
    <%= f.label :destinação %> :
    <%= f.select :destinacao_id,  @destinacoes, :include_blank => true, :disabled => !@cheque.pode_alterar?(current_user) %>
  </div>
 <p>
    <%= check_box_tag :uma_devolucao, 1, checked=@cheque.devolvido_uma_vez? , options={ :onclick=>"abre_uma_devolucao();", :disabled=>!@clinica_atual.administracao? }%> devolvido uma vez
 </p>
 <%# @cheque.data_primeira_devolucao = Date.today %>
  <% if @cheque.devolvido_uma_vez? %>
    <div id="devolvido_uma_vez" >
  <% else %>
    <div id="devolvido_uma_vez" style="<%= @cheque.devolvido_uma_vez? ? '' : 'display:none;'%>" >
  <% end %>
    <fieldset>
      <legend>Primeira devolução</legend>
      <div>
        <%= f.label :data_primeira_devolução %> :   
        <%= text_field_tag :datepicker2, @cheque.data_primeira_devolucao.to_s_br, :size=>10 %>
      </div>
      <div>
        <%= f.label :motivo %> :
        <%= f.text_field :motivo_primeira_devolucao, :size=>20 %>
      </div>
    </fieldset>
  </div>
    <p>
        <%= check_box_tag :reapresentacao, 'reapresentado', checked=@cheque.reapresentado? , options={ :onclick=>"abre_reapresentacao();", :disabled=>!@clinica_atual.administracao? }%> reapresentado
     </p>
    <% if @cheque.reapresentado? %>
      <div id="reapresentado" >
    <% else %>
      <div id="reapresentado" style="<%= @cheque.reapresentado? ? '' : 'display:none;'%>">
    <% end %>
    <fieldset>
      <legend>Reapresentação</legend>
      <div>
        <%= f.label :data_da_reapresentação %> :
        <%= text_field_tag :datepicker3, @cheque.data_reapresentacao.to_s_br, :size=>10%>
      </div>
      </fieldset>
        <p>
            <%= check_box_tag :segunda_devolucao, 1, checked=@cheque.devolvido_duas_vezes? , options={ :onclick=>"abre_segunda_devolucao();", :disabled=>!@clinica_atual.administracao? }%> segunda devolução
         </p>
         <fieldset>
        <% if @cheque.devolvido_duas_vezes? %>
          <div id="devolvido_duas_vezes" >
        <% else %>
          <div id="devolvido_duas_vezes" style="<%= @cheque.devolvido_duas_vezes? ? '' : 'display:none;'%>">
        <% end %>
        <div>
          <%= f.label :data_da_segunda_devolução %>
        <%= text_field_tag :data_segunda_devolucao_br, @cheque.data_segunda_devolucao_br, :size=>10%>
        </div>
        <div>
		<%= f.label :motivo %>    
        <%= f.text_field :motivo_segunda_devolucao, :size=>10 %>
        </div>
        </fieldset>
        </div>
        <div>
            <%= check_box_tag :spc, 1, checked=@cheque.spc? , options={:onclick=>"abre_spc();",   :disabled=>!@clinica_atual.administracao? }%> SPC
         </div>
       <fieldset>

       <% if @cheque.spc? %>
          <div id="spc_fields" >
        <% else %>
          <div id="spc_fields" style="<%= @cheque.spc? ? '' : 'display:none;'%>">
        <% end %>
            <div>
              <%= f.label 'Data SPC' %>
              <%= f.text_field :data_spc_br , :size => 10, :class => 'datepicker'%>
            </div>
          </div>
        </fieldset>

        <div>
          <%= check_box_tag :solucao, 1, checked=@cheque.solucionado? , options={:onclick=>"abre_solucionado();",   :disabled=>!@clinica_atual.administracao? }%> Solução
         </div>
       <fieldset>

       <% if @cheque.solucionado? %>
          <div id="solucao_fields" >
        <% else %>
          <div id="solucao_fields" style="<%= @cheque.solucionado? ? '' : 'display:none;'%>">
        <% end %>
            <div>
              <%= f.label 'Data solução' %> :
              <%= f.text_field :data_solucao_br , :size => 10, :class => 'datepicker'%>
            </div>
            <div>
              <%= f.label 'Descrição solução' %> :
              <%= f.text_field :descricao_solucao , :size => 40%>
            </div>
          </div>
        </fieldset>

        <div>
          <%= check_box_tag :arquivo_morto, 1, checked=@cheque.arquivo_morto? , options={:onclick=>"abre_arquivo_morto();",   :disabled=>!@clinica_atual.administracao? }%> Arquivo morto
         </div>

       <fieldset>
         <% if @cheque.arquivo_morto? %>
          <div id="arquivo_morto_fields" >
        <% else %>
          <div id="arquivo_morto_fields" style="<%= @cheque.arquivo_morto? ? '' : 'display:none;'%>">
        <% end %>
            <div>
              <%= f.label 'Arquivo morto' %> :
              <%= f.text_field :data_arquivo_morto_br , :size => 10, :class => 'datepicker'%>
            </div>
          </div>
        </fieldset>


       </div>



  <% if @cheque.entregue_a_administracao? %>
  <p>Entregue à Administração em <%= @cheque.data_entrega_administracao.to_s_br %></p>
  <% end %>
  <% if @cheque.recebimentos.size == 1 &&  (!@cheque.entregue_a_administracao? || @clinica_atual.administracao?) && !@cheque.para_mais_de_um_paciente? %>
    <p>
      Ao alterar o valor deste cheque, o valor de respectivo recebimento também será alterado, juntamente com o extrato do paciente
    </p>
  <% end %>
  <p>
    <%= f.submit 'Alterar'   %>
  </p>
<% end %>
<%= render :partial => '/acompanhamento_cheques/show', :locals => {:cheque => @cheque } %>
<br />
 
<%= link_to 'voltar', "javascript:history.back()" %>
<% #TODO volta via javascript para voltar a página com pesquisa %>
</fieldset>
</div>
<% end %>