<% content_for :main do %>
<h3>Listando tipos de pagamento</h3>

<% form_tag tipo_pagamentos_path, :method=>:get do %>
  <p>
  <%= radio_button_tag :ativo, true , params[:ativo]=="true" -%> Ativos
  <%= radio_button_tag :ativo, false, params[:ativo]=="false" -%> Inativos
  &nbsp;&nbsp;&nbsp;
  <%= label_tag :que_iniciam_com %> : 
  <%= text_field_tag :iniciais, params[:iniciais] %>
  &nbsp;&nbsp;&nbsp;<%= submit_tag "pesquisar"-%>
  </p>
<% end %>

<table class='tabela'>
  <tr>
    <th width="200px">Nome</th>
    <th>Ativo</th>
    <th>&nbsp;</th>
  </tr>

<% @tipo_pagamentos.each do |tipo_pagamento| %>
  <tr>
    <td><%= link_to tipo_pagamento.nome, edit_tipo_pagamento_path(tipo_pagamento) %></td>
    <td><%=h tipo_pagamento.ativo? ? "sim" : "não" %></td>
    <td>
    <% if tipo_pagamento.ativo? %>
      <%= link_to 'desativar', tipo_pagamento, :confirm => 'Tem certeza ?', :method => :delete  if current_user.pode_alterar_na_clinica?%>
    <% else %>
      <%= link_to 'reativar', reativar_tipo_pagamento_path(tipo_pagamento) %>
    <% end %>
</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo tipo de pagamento', new_tipo_pagamento_path if current_user.pode_alterar_na_clinica? %>
<% end %>