<% cache "cabecalho_#{current_user.id}" do %>
  <div id="logo"><%= image_tag "logo2.jpg" %>
    <div id="login">
      Usuário : <%= current_user.nome %> ( <%= current_user.tipo_usuario.nome %> ) | <span id="nome_da_clinica"><%= @clinica_atual.nome %></span>
  | <%= link_to "trocar senha", troca_senha_path %>
  | <%= link_to "logout", logout_path %>
   <% if current_user.clinicas.size > 1 %>
     <div id="link_de_clinicas">
       <%= render :partial=>"layouts/seleciona_clinica" %>
     </div>
   <% end %>
    </div>
  </div>
<% end %>